

#vtnPersona.ventana-modal-panel-expandido{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 24%;
	width: 80%;
	height: auto;
	position: relative;
}


#vtnPerfil.ventana-modal-panel-expandido{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	margin-bottom: 24%;
	width: 80%;
	height: auto;
	position: relative;
}