
.lista-equipo-solt-SELECT{
	background: #235f92;
	color: #FFFFFF;
}


.lista-btnP-select{
	background: #235f92;
	color: #FFFFFF;
}

button.lista-btnP-select{
	background: #235f92;
	color: #FFFFFF;
}
.lista-btnC-select{
	background: #235f92;
	color: #FFFFFF;
}

button.lista-btnC-select{
	background: #235f92;
	color: #FFFFFF;
}
.lista-btnS-select{
	background: #235f92;
	color: #FFFFFF;
}

button.lista-btnS-select{
	background: #235f92;
	color: #FFFFFF;
}
